# Data Processing using Pyspark

In [1]:
#configuración en google colab de spark y pyspark
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [2]:
#instalar java y spark
!apt-get install openjdk-11-jdk-headless -qq > /dev/null
!wget -q https://downloads.apache.org/spark/spark-3.3.1/spark-3.3.1-bin-hadoop3.tgz
!tar xf spark-3.3.1-bin-hadoop3.tgz
!pip install -q findspark

In [3]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-11-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.3.1-bin-hadoop3"

In [4]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder \
    .appName("data_processing")\
    .master("local[*]")\
    .config("spark.driver.memory","16G")\
    .config("spark.driver.maxResultSize", "0") \
    .config("spark.kryoserializer.buffer.max", "2000M")\
    .config("spark.jars.packages", "com.amazonaws:aws-java-sdk:1.11.1034,org.apache.hadoop:hadoop-aws:3.3.4")\
    .config('fs.s3a.access.key', 'ASIAZYAGUHF4ELKAPCE6') \
    .config('fs.s3a.secret.key', 'DivdG0J8RRp4CBvk77fGB7+1qCAfTSl6pMV59Enc') \
    .config('fs.s3a.session.token','FwoGZXIvYXdzEKL//////////wEaDApbe+hDZeE7DaCHsyLGAb3+LxpATdDk9gEfs2xf2GE8lgFXRpBDb4kYr/eq1e3qMDDXJEF4hU7CuDj0pJSAHAj5kXdN4WKHJaqHGh4kR9CycrDRXy1ov47jHDwtOeLjpxOBUQhNchEvKno3OlgrUAVf5T8t+DhnyhfZ7+Ak5uD3T12Y/rjtj+RsKnQkAKgxB7kKgOfLR+qRNI7K6tmVDfUFi7o94683v6zTVzeNtIWKi4jDpj8H3S8rO4eXlRqTRWD4FE5+wLxU7u7uRB5ABRWT2NqEuCigq/CbBjItPgqBTdvjOfRmxqIDAjRA+ODVV7KETrcN1qG54SrYX/6DYEpY6nmjs6BrRFos') \
    .config('fs.s3a.path.style.access', 'true') \
    .config('fs.s3a.impl', 'org.apache.hadoop.fs.s3a.S3AFileSystem') \
    .config('fs.s3a.endpoint', 's3.amazonaws.com') \
    .getOrCreate()
    
sc = spark.sparkContext

In [5]:
spark

In [6]:
sc

In [7]:
# Load csv Dataset 
# Desde S3
df=spark.read.csv('s3a://notebookscorreah/datasets/covid19/Casos_positivos_de_COVID-19_en_Colombia-100K.csv',inferSchema=True,header=True)

In [ ]:
#columns of dataframe
df.columns

['fecha reporte web',
 'ID de caso',
 'Fecha de notificación',
 'Código DIVIPOLA departamento',
 'Nombre departamento',
 'Código DIVIPOLA municipio',
 'Nombre municipio',
 'Edad',
 'Unidad de medida de edad',
 'Sexo',
 'Tipo de contagio',
 'Ubicación del caso',
 'Estado',
 'Código ISO del país',
 'Nombre del país',
 'Recuperado',
 'Fecha de inicio de síntomas',
 'Fecha de muerte',
 'Fecha de diagnóstico',
 'Fecha de recuperación',
 'Tipo de recuperación',
 'Pertenencia étnica',
 'Nombre del grupo étnico']

In [ ]:
#check number of columns
len(df.columns)

23

In [ ]:
#number of records in dataframe
df.count()

100000

In [ ]:
#shape of dataset
print((df.count(),len(df.columns)))

(100000, 23)

In [ ]:
#printSchema
df.printSchema()

root
 |-- fecha reporte web: string (nullable = true)
 |-- ID de caso: integer (nullable = true)
 |-- Fecha de notificación: string (nullable = true)
 |-- Código DIVIPOLA departamento: integer (nullable = true)
 |-- Nombre departamento: string (nullable = true)
 |-- Código DIVIPOLA municipio: integer (nullable = true)
 |-- Nombre municipio: string (nullable = true)
 |-- Edad: integer (nullable = true)
 |-- Unidad de medida de edad: integer (nullable = true)
 |-- Sexo: string (nullable = true)
 |-- Tipo de contagio: string (nullable = true)
 |-- Ubicación del caso: string (nullable = true)
 |-- Estado: string (nullable = true)
 |-- Código ISO del país: integer (nullable = true)
 |-- Nombre del país: string (nullable = true)
 |-- Recuperado: string (nullable = true)
 |-- Fecha de inicio de síntomas: string (nullable = true)
 |-- Fecha de muerte: string (nullable = true)
 |-- Fecha de diagnóstico: string (nullable = true)
 |-- Fecha de recuperación: string (nullable = true)
 |-- Tipo de recuperación: string (nullable = true)
 |-- Pertenencia étnica: integer (nullable = true)
 |-- Nombre del grupo étnico: string (nullable = true)

In [ ]:
#fisrt few rows of dataframe
df.show(5)

+-----------------+----------+---------------------+----------------------------+-------------------+-------------------------+----------------+----+------------------------+----+----------------+------------------+------+-------------------+---------------+----------+---------------------------+---------------+--------------------+---------------------+--------------------+------------------+-----------------------+
|fecha reporte web|ID de caso|Fecha de notificación|Código DIVIPOLA departamento|Nombre departamento|Código DIVIPOLA municipio|Nombre municipio|Edad|Unidad de medida de edad|Sexo|Tipo de contagio|Ubicación del caso|Estado|Código ISO del país|Nombre del país|Recuperado|Fecha de inicio de síntomas|Fecha de muerte|Fecha de diagnóstico|Fecha de recuperación|Tipo de recuperación|Pertenencia étnica|Nombre del grupo étnico|
+-----------------+----------+---------------------+----------------------------+-------------------+-------------------------+----------------+----+------------------------+----+----------------+------------------+------+-------------------+---------------+----------+---------------------------+---------------+--------------------+---------------------+--------------------+------------------+-----------------------+
| 6/3/2020 0:00:00|         1|     2/3/2020 0:00:00|                          11|             BOGOTA|                    11001|          BOGOTA|  19|                       1|   F|       Importado|              Casa|  Leve|                380|         ITALIA|Recuperado|          27/2/2020 0:00:00|           null|    6/3/2020 0:00:00|    13/3/2020 0:00:00|                 PCR|                 6|                   null|
| 9/3/2020 0:00:00|         2|     6/3/2020 0:00:00|                          76|              VALLE|                    76111|            BUGA|  34|                       1|   M|       Importado|              Casa|  Leve|                724|         ESPAÑA|Recuperado|           4/3/2020 0:00:00|           null|    9/3/2020 0:00:00|    19/3/2020 0:00:00|                 PCR|                 5|                   null|
| 9/3/2020 0:00:00|         3|     7/3/2020 0:00:00|                           5|          ANTIOQUIA|                     5001|        MEDELLIN|  50|                       1|   F|       Importado|              Casa|  Leve|                724|         ESPAÑA|Recuperado|          29/2/2020 0:00:00|           null|    9/3/2020 0:00:00|    15/3/2020 0:00:00|                 PCR|                 6|                   null|
|11/3/2020 0:00:00|         4|     9/3/2020 0:00:00|                           5|          ANTIOQUIA|                     5001|        MEDELLIN|  55|                       1|   M|     Relacionado|              Casa|  Leve|               null|           null|Recuperado|           6/3/2020 0:00:00|           null|   11/3/2020 0:00:00|    26/3/2020 0:00:00|                 PCR|                 6|                   null|
|11/3/2020 0:00:00|         5|     9/3/2020 0:00:00|                           5|          ANTIOQUIA|                     5001|        MEDELLIN|  25|                       1|   M|     Relacionado|              Casa|  Leve|               null|           null|Recuperado|           8/3/2020 0:00:00|           null|   11/3/2020 0:00:00|    23/3/2020 0:00:00|                 PCR|                 6|                   null|
+-----------------+----------+---------------------+----------------------------+-------------------+-------------------------+----------------+----+------------------------+----+----------------+------------------+------+-------------------+---------------+----------+---------------------------+---------------+--------------------+---------------------+--------------------+------------------+-----------------------+
only showing top 5 rows

In [ ]:
#select only 2 columns
df.select('ID de caso','Tipo de contagio').show(5)

+----------+----------------+
|ID de caso|Tipo de contagio|
+----------+----------------+
|         1|       Importado|
|         2|       Importado|
|         3|       Importado|
|         4|     Relacionado|
|         5|     Relacionado|
+----------+----------------+
only showing top 5 rows

In [ ]:
#change column name
df.select('fecha reporte web','Tipo de contagio').withColumnRenamed('fecha reporte web', 'Fecha Reporte').show(5)

+-----------------+----------------+
|    Fecha Reporte|Tipo de contagio|
+-----------------+----------------+
| 6/3/2020 0:00:00|       Importado|
| 9/3/2020 0:00:00|       Importado|
| 9/3/2020 0:00:00|       Importado|
|11/3/2020 0:00:00|     Relacionado|
|11/3/2020 0:00:00|     Relacionado|
+-----------------+----------------+
only showing top 5 rows

In [ ]:
#add a column
df.select('ID de caso', 'fecha reporte web', 'Tipo de contagio', 'Edad').withColumn("Edad Restante",(100-df["Edad"])).show(10,False)

+----------+-----------------+----------------+----+-------------+
|ID de caso|fecha reporte web|Tipo de contagio|Edad|Edad Restante|
+----------+-----------------+----------------+----+-------------+
|1         |6/3/2020 0:00:00 |Importado       |19  |81           |
|2         |9/3/2020 0:00:00 |Importado       |34  |66           |
|3         |9/3/2020 0:00:00 |Importado       |50  |50           |
|4         |11/3/2020 0:00:00|Relacionado     |55  |45           |
|5         |11/3/2020 0:00:00|Relacionado     |25  |75           |
|6         |11/3/2020 0:00:00|Relacionado     |27  |73           |
|7         |11/3/2020 0:00:00|Importado       |85  |15           |
|8         |11/3/2020 0:00:00|Importado       |22  |78           |
|9         |11/3/2020 0:00:00|Importado       |28  |72           |
|10        |12/3/2020 0:00:00|Importado       |36  |64           |
+----------+-----------------+----------------+----+-------------+
only showing top 10 rows

In [ ]:
#drop columns
df.select('ID de caso', 'fecha reporte web', 'Fecha de notificación').drop('Fecha de notificación').show(5)

+----------+-----------------+
|ID de caso|fecha reporte web|
+----------+-----------------+
|         1| 6/3/2020 0:00:00|
|         2| 9/3/2020 0:00:00|
|         3| 9/3/2020 0:00:00|
|         4|11/3/2020 0:00:00|
|         5|11/3/2020 0:00:00|
+----------+-----------------+
only showing top 5 rows

In [ ]:
#filter rows 
df.filter(df['Tipo de contagio']=='Importado').show(5)

+-----------------+----------+---------------------+----------------------------+-------------------+-------------------------+----------------+----+------------------------+----+----------------+------------------+------+-------------------+--------------------+----------+---------------------------+---------------+--------------------+---------------------+--------------------+------------------+-----------------------+
|fecha reporte web|ID de caso|Fecha de notificación|Código DIVIPOLA departamento|Nombre departamento|Código DIVIPOLA municipio|Nombre municipio|Edad|Unidad de medida de edad|Sexo|Tipo de contagio|Ubicación del caso|Estado|Código ISO del país|     Nombre del país|Recuperado|Fecha de inicio de síntomas|Fecha de muerte|Fecha de diagnóstico|Fecha de recuperación|Tipo de recuperación|Pertenencia étnica|Nombre del grupo étnico|
+-----------------+----------+---------------------+----------------------------+-------------------+-------------------------+----------------+----+------------------------+----+----------------+------------------+------+-------------------+--------------------+----------+---------------------------+---------------+--------------------+---------------------+--------------------+------------------+-----------------------+
| 6/3/2020 0:00:00|         1|     2/3/2020 0:00:00|                          11|             BOGOTA|                    11001|          BOGOTA|  19|                       1|   F|       Importado|              Casa|  Leve|                380|              ITALIA|Recuperado|          27/2/2020 0:00:00|           null|    6/3/2020 0:00:00|    13/3/2020 0:00:00|                 PCR|                 6|                   null|
| 9/3/2020 0:00:00|         2|     6/3/2020 0:00:00|                          76|              VALLE|                    76111|            BUGA|  34|                       1|   M|       Importado|              Casa|  Leve|                724|              ESPAÑA|Recuperado|           4/3/2020 0:00:00|           null|    9/3/2020 0:00:00|    19/3/2020 0:00:00|                 PCR|                 5|                   null|
| 9/3/2020 0:00:00|         3|     7/3/2020 0:00:00|                           5|          ANTIOQUIA|                     5001|        MEDELLIN|  50|                       1|   F|       Importado|              Casa|  Leve|                724|              ESPAÑA|Recuperado|          29/2/2020 0:00:00|           null|    9/3/2020 0:00:00|    15/3/2020 0:00:00|                 PCR|                 6|                   null|
|11/3/2020 0:00:00|         7|     8/3/2020 0:00:00|                       13001|          CARTAGENA|                    13001|       CARTAGENA|  85|                       1|   F|       Importado|              Casa|  Leve|                840|ESTADOS UNIDOS DE...|Recuperado|           2/3/2020 0:00:00|           null|   11/3/2020 0:00:00|    17/3/2020 0:00:00|                 PCR|                 6|                   null|
|11/3/2020 0:00:00|         8|     9/3/2020 0:00:00|                          11|             BOGOTA|                    11001|          BOGOTA|  22|                       1|   F|       Importado|              Casa|  Leve|                724|              ESPAÑA|Recuperado|           6/3/2020 0:00:00|           null|   11/3/2020 0:00:00|    21/3/2020 0:00:00|                 PCR|                 6|                   null|
+-----------------+----------+---------------------+----------------------------+-------------------+-------------------------+----------------+----+------------------------+----+----------------+------------------+------+-------------------+--------------------+----------+---------------------------+---------------+--------------------+---------------------+--------------------+------------------+-----------------------+
only showing top 5 rows

In [ ]:
# UDF
from pyspark.sql.functions import udf
from pyspark.sql.types import StringType,DoubleType,IntegerType

# Lambda function
sexo_udf = udf(lambda sexo: "Masculino" if sexo == "M" else "Femenino", StringType())
#apply udf on dataframe
df.withColumn("Genero", sexo_udf(df.Sexo)).show(10,False)

+-----------------+----------+---------------------+----------------------------+-------------------+-------------------------+----------------+----+------------------------+----+----------------+------------------+------+-------------------+-------------------------+----------+---------------------------+---------------+--------------------+---------------------+--------------------+------------------+-----------------------+---------+
|fecha reporte web|ID de caso|Fecha de notificación|Código DIVIPOLA departamento|Nombre departamento|Código DIVIPOLA municipio|Nombre municipio|Edad|Unidad de medida de edad|Sexo|Tipo de contagio|Ubicación del caso|Estado|Código ISO del país|Nombre del país          |Recuperado|Fecha de inicio de síntomas|Fecha de muerte|Fecha de diagnóstico|Fecha de recuperación|Tipo de recuperación|Pertenencia étnica|Nombre del grupo étnico|Genero   |
+-----------------+----------+---------------------+----------------------------+-------------------+-------------------------+----------------+----+------------------------+----+----------------+------------------+------+-------------------+-------------------------+----------+---------------------------+---------------+--------------------+---------------------+--------------------+------------------+-----------------------+---------+
|6/3/2020 0:00:00 |1         |2/3/2020 0:00:00     |11                          |BOGOTA             |11001                    |BOGOTA          |19  |1                       |F   |Importado       |Casa              |Leve  |380                |ITALIA                   |Recuperado|27/2/2020 0:00:00          |null           |6/3/2020 0:00:00    |13/3/2020 0:00:00    |PCR                 |6                 |null                   |Femenino |
|9/3/2020 0:00:00 |2         |6/3/2020 0:00:00     |76                          |VALLE              |76111                    |BUGA            |34  |1                       |M   |Importado       |Casa              |Leve  |724                |ESPAÑA                   |Recuperado|4/3/2020 0:00:00           |null           |9/3/2020 0:00:00    |19/3/2020 0:00:00    |PCR                 |5                 |null                   |Masculino|
|9/3/2020 0:00:00 |3         |7/3/2020 0:00:00     |5                           |ANTIOQUIA          |5001                     |MEDELLIN        |50  |1                       |F   |Importado       |Casa              |Leve  |724                |ESPAÑA                   |Recuperado|29/2/2020 0:00:00          |null           |9/3/2020 0:00:00    |15/3/2020 0:00:00    |PCR                 |6                 |null                   |Femenino |
|11/3/2020 0:00:00|4         |9/3/2020 0:00:00     |5                           |ANTIOQUIA          |5001                     |MEDELLIN        |55  |1                       |M   |Relacionado     |Casa              |Leve  |null               |null                     |Recuperado|6/3/2020 0:00:00           |null           |11/3/2020 0:00:00   |26/3/2020 0:00:00    |PCR                 |6                 |null                   |Masculino|
|11/3/2020 0:00:00|5         |9/3/2020 0:00:00     |5                           |ANTIOQUIA          |5001                     |MEDELLIN        |25  |1                       |M   |Relacionado     |Casa              |Leve  |null               |null                     |Recuperado|8/3/2020 0:00:00           |null           |11/3/2020 0:00:00   |23/3/2020 0:00:00    |PCR                 |6                 |null                   |Masculino|
|11/3/2020 0:00:00|6         |10/3/2020 0:00:00    |5                           |ANTIOQUIA          |5360                     |ITAGUI          |27  |1                       |F   |Relacionado     |Casa              |Leve  |null               |null                     |Recuperado|6/3/2020 0:00:00           |null           |11/3/2020 0:00:00   |26/3/2020 0:00:00    |PCR                 |6                 |null                   |Femenino |
|11/3/2020 0:00:00|7         |8/3/2020 0:00:00     |13001                       |CARTAGENA          |13001                    |CARTAGENA       |85  |1                       |F   |Importado       |Casa              |Leve  |840                |ESTADOS UNIDOS DE AMÉRICA|Recuperado|2/3/2020 0:00:00           |null           |11/3/2020 0:00:00   |17/3/2020 0:00:00    |PCR                 |6                 |null                   |Femenino |
|11/3/2020 0:00:00|8         |9/3/2020 0:00:00     |11                          |BOGOTA             |11001                    |BOGOTA          |22  |1                       |F   |Importado       |Casa              |Leve  |724                |ESPAÑA                   |Recuperado|6/3/2020 0:00:00           |null           |11/3/2020 0:00:00   |21/3/2020 0:00:00    |PCR                 |6                 |null                   |Femenino |
|11/3/2020 0:00:00|9         |8/3/2020 0:00:00     |11                          |BOGOTA             |11001                    |BOGOTA          |28  |1                       |F   |Importado       |Casa              |Leve  |724                |ESPAÑA                   |Recuperado|7/3/2020 0:00:00           |null           |11/3/2020 0:00:00   |23/3/2020 0:00:00    |PCR                 |6                 |null                   |Femenino |
|12/3/2020 0:00:00|10        |12/3/2020 0:00:00    |11                          |BOGOTA             |11001                    |BOGOTA          |36  |1                       |F   |Importado       |Casa              |Leve  |724                |ESPAÑA                   |Recuperado|6/3/2020 0:00:00           |null           |12/3/2020 0:00:00   |21/3/2020 0:00:00    |PCR                 |6                 |null                   |Femenino |
+-----------------+----------+---------------------+----------------------------+-------------------+-------------------------+----------------+----+------------------------+----+----------------+------------------+------+-------------------+-------------------------+----------+---------------------------+---------------+--------------------+---------------------+--------------------+------------------+-----------------------+---------+
only showing top 10 rows

In [8]:
# Spark Dataframes

In [8]:
from pyspark.sql.types import StringType,DoubleType,IntegerType

In [9]:
# Los 10 departamentos con más casos de covid en Colombia ordenados de mayor a menor
df.groupBy('Nombre departamento').count().orderBy('count',ascending=False).show(10,False)

+-------------------+-----+
|Nombre departamento|count|
+-------------------+-----+
|BOGOTA             |30016|
|BARRANQUILLA       |13065|
|ATLANTICO          |10994|
|VALLE              |10404|
|CARTAGENA          |8333 |
|ANTIOQUIA          |4554 |
|NARIÑO             |3520 |
|CUNDINAMARCA       |2827 |
|AMAZONAS           |2317 |
|CHOCO              |1636 |
+-------------------+-----+
only showing top 10 rows

In [10]:
# Las 10 ciudades con más casos de covid en Colombia ordenados de mayor a menor
df.groupBy('Nombre municipio').count().orderBy('count',ascending=False).show(10,False)

+----------------+-----+
|Nombre municipio|count|
+----------------+-----+
|BOGOTA          |30016|
|BARRANQUILLA    |13065|
|CARTAGENA       |8333 |
|CALI            |7747 |
|SOLEDAD         |6233 |
|LETICIA         |2194 |
|MEDELLIN        |2137 |
|TUMACO          |1501 |
|BUENAVENTURA    |1453 |
|QUIBDO          |1367 |
+----------------+-----+
only showing top 10 rows

In [11]:
# Los 10 días con más casos de covid en Colombia ordenados de mayor a menor.
df.groupBy('Fecha de notificación').count().orderBy('count',ascending=False).show(10,False)

+---------------------+-----+
|Fecha de notificación|count|
+---------------------+-----+
|18/6/2020 0:00:00    |3477 |
|19/6/2020 0:00:00    |3328 |
|17/6/2020 0:00:00    |3318 |
|16/6/2020 0:00:00    |3232 |
|23/6/2020 0:00:00    |3230 |
|11/6/2020 0:00:00    |2747 |
|20/6/2020 0:00:00    |2684 |
|12/6/2020 0:00:00    |2679 |
|10/6/2020 0:00:00    |2650 |
|24/6/2020 0:00:00    |2599 |
+---------------------+-----+
only showing top 10 rows

In [12]:
# Distribución de casos por edades de covid en Colombia.
df.groupBy('Edad').count().orderBy('Edad',ascending=True).show()

+----+-----+
|Edad|count|
+----+-----+
|   1|  485|
|   2|  440|
|   3|  449|
|   4|  373|
|   5|  425|
|   6|  431|
|   7|  442|
|   8|  461|
|   9|  467|
|  10|  530|
|  11|  566|
|  12|  562|
|  13|  531|
|  14|  580|
|  15|  560|
|  16|  600|
|  17|  685|
|  18| 1160|
|  19| 1567|
|  20| 1674|
+----+-----+
only showing top 20 rows

In [13]:
# Distribución de casos por tipo de contagio de covid en Colombia.
df.groupBy('Tipo de contagio').count().orderBy('Tipo de contagio',ascending=True).show()

+----------------+-----+
|Tipo de contagio|count|
+----------------+-----+
|     Comunitaria|58699|
|      En estudio|  305|
|       Importado|  912|
|     Relacionado|40084|
+----------------+-----+

In [ ]:
# Spark SQL

In [ ]:
# Importamos Spark Session
from pyspark.sql import SparkSession

# Creamos a SparkSession
spark = (SparkSession
  .builder
  .appName("SparkSQLExampleApp")
  .getOrCreate())

# Path al dataset
csv_file = "/content/gdrive/MyDrive/st0263-2266/bigdata/datasets/covid19/Casos_positivos_de_COVID-19_en_Colombia-100K.csv"

# Leer y crear una vista temporal
# Inferir schema (notar que para archivos granfes debe especificar el schema)
df = (spark.read.format("csv")
  .option("inferSchema", "true")
  .option("header", "true")
  .load(csv_file))
df.createOrReplaceTempView("covid19")

In [ ]:
# Los 10 departamentos con más casos de covid en Colombia ordenados de mayor a menor
spark.sql("""SELECT `Nombre departamento`, COUNT(*) FROM covid19 GROUP BY `Nombre departamento` ORDER BY 2 DESC""").show(10)

+-------------------+--------+
|Nombre departamento|count(1)|
+-------------------+--------+
|             BOGOTA|   30016|
|       BARRANQUILLA|   13065|
|          ATLANTICO|   10994|
|              VALLE|   10404|
|          CARTAGENA|    8333|
|          ANTIOQUIA|    4554|
|             NARIÑO|    3520|
|       CUNDINAMARCA|    2827|
|           AMAZONAS|    2317|
|              CHOCO|    1636|
+-------------------+--------+
only showing top 10 rows

In [ ]:
# Las 10 ciudades con más casos de covid en Colombia ordenados de mayor a menor.
spark.sql("""SELECT `Nombre municipio`, COUNT(*) FROM covid19 GROUP BY `Nombre municipio` ORDER BY 2 DESC""").show(10)

+----------------+--------+
|Nombre municipio|count(1)|
+----------------+--------+
|          BOGOTA|   30016|
|    BARRANQUILLA|   13065|
|       CARTAGENA|    8333|
|            CALI|    7747|
|         SOLEDAD|    6233|
|         LETICIA|    2194|
|        MEDELLIN|    2137|
|          TUMACO|    1501|
|    BUENAVENTURA|    1453|
|          QUIBDO|    1367|
+----------------+--------+
only showing top 10 rows

In [ ]:
# Los 10 días con más casos de covid en Colombia ordenados de mayor a menor.
spark.sql("""SELECT `Fecha de notificación`, COUNT(*) FROM covid19 GROUP BY `Fecha de notificación` ORDER BY 2 DESC""").show(10)

+---------------------+--------+
|Fecha de notificación|count(1)|
+---------------------+--------+
|    18/6/2020 0:00:00|    3477|
|    19/6/2020 0:00:00|    3328|
|    17/6/2020 0:00:00|    3318|
|    16/6/2020 0:00:00|    3232|
|    23/6/2020 0:00:00|    3230|
|    11/6/2020 0:00:00|    2747|
|    20/6/2020 0:00:00|    2684|
|    12/6/2020 0:00:00|    2679|
|    10/6/2020 0:00:00|    2650|
|    24/6/2020 0:00:00|    2599|
+---------------------+--------+
only showing top 10 rows

In [ ]:
# Distribución de casos por edades de covid en Colombia.
spark.sql("""SELECT `Edad`, COUNT(*) FROM covid19 GROUP BY `Edad` ORDER BY 1 ASC""").show(20)

+----+--------+
|Edad|count(1)|
+----+--------+
|   1|     485|
|   2|     440|
|   3|     449|
|   4|     373|
|   5|     425|
|   6|     431|
|   7|     442|
|   8|     461|
|   9|     467|
|  10|     530|
|  11|     566|
|  12|     562|
|  13|     531|
|  14|     580|
|  15|     560|
|  16|     600|
|  17|     685|
|  18|    1160|
|  19|    1567|
|  20|    1674|
+----+--------+
only showing top 20 rows

In [ ]:
# Distribución de casos por tipo de contagio de covid en Colombia.
spark.sql("""SELECT `Tipo de contagio`, COUNT(*) FROM covid19 GROUP BY `Tipo de contagio` ORDER BY 1 ASC""").show(20)

+----------------+--------+
|Tipo de contagio|count(1)|
+----------------+--------+
|     Comunitaria|   58699|
|      En estudio|     305|
|       Importado|     912|
|     Relacionado|   40084|
+----------------+--------+

In [ ]:
# Guardar

In [14]:
#target directory 
write_uri='s3a://notebookscorreah/aws_csv'

In [15]:
#save the dataframe as single csv 
df.coalesce(1).write.format("csv").option("header","true").save(write_uri)

In [16]:
# parquet

In [20]:
#target location
parquet_uri='s3a://notebookscorreah/aws_parquet'

In [21]:
#save the data into parquet format 
df.write.format('parquet').save(parquet_uri)